body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar-default {
    background-color: #51b765;
    height: 50px;
}

.dropdown-menu {
    background-color: #10a67d
}

img {
    margin-top: -15px;
    max-height: 47px;
}

#avatar {
    margin-top: -11px;
    max-height: 40px;
}