.wrapper {
    margin-left: 120px;
    margin-right: 120px;
}
.navbar-default {
    font-size: 14px;
    background-color: #51b765;
    border-width: 0px;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    margin: 15px 35px;
    padding: 0px;
    font-weight: 500;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #2c6969;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #2c6969;
    background-color: #51b765;
}
.navbar-default .navbar-toggle {
    border-color: #51b765;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #51b765;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #FFFFFF;
}
.navbar-default .profile-dropdown {
    margin-top: 7.5px !important;
    margin-bottom: 7.5px !important;
}
.separator{
    width: 95%;
    height: 1px;
    content: "";
    background: #FFFFFF;
    display: inline-block;
    vertical-align:middle;
    position: relative;
}
.navbar-default .navbar-nav .dropdown-item:after{
    width: 9px;
    height: 5px;
    content: "";
    background: url("./assets/arrow-navigation.png");
    position: relative;
    display: inline-block;
    margin-left: 7px;
}
.navbar-default .navbar-nav .dropdown-item:hover:after, .navbar-default .navbar-nav .dropdown-item:focus:after{
    width: 9px;
    height: 5px;
    content: "";
    background: url("./assets/arrow-navigation-active.png");
    position: relative;
    display: inline-block;
    margin-left: 7px;
}
.custom-menu {
    background-color: #4daa5f;
    -webkit-background-clip: none;
    background-clip: none;
    border: 0px;
    padding: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    width: 100%; text-align: center; left:0; right:0;
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu li>a {
    padding: 5px 15px 5px 25px;
    color: #FFFFFF;
    text-align: center;
}
.navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu li>a:hover {
    color: #2c6969;
    background-color: inherit;
    text-decoration: none;
}
@media (max-width: 1320px) {
    .wrapper {
        margin-left: 90px;
        margin-right: 90px;
    }
    .navbar-default .navbar-nav>li>a {
        margin: 15px 30px;
    }
}
@media (max-width: 1230px) {
    .wrapper {
        margin-left: 60px;
        margin-right: 60px;
    }
    .navbar-default .navbar-nav>li>a {
        margin: 15px 25px;
    }
}
@media (max-width: 1140px) {
    .wrapper {
        margin-left: 30px;
        margin-right: 30px;
        }
    .navbar-default .navbar-nav>li>a {
        margin: 15px 20px;
    }
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #2c6969;
    background-color: inherit;
}

.search-input {
    margin: 10px;
    width: 300px;
    line-height: 24px;
    font-size: 20px;
    background: inherit;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 5px 15px;
    text-decoration: none;
}

.search-input:focus {
    outline: none;
}

.dropdown-menu.custom-menu form a>img {
    margin-left: 10px;
    margin-top: -5px;
}

.dropdown-menu.custom-menu input::-webkit-input-placeholder{
    color: #FFFFFF;
}
.dropdown-menu.custom-menu input:-moz-placeholder {
    color: #FFFFFF;
}

@media (max-width: 920px) {

    .nav > li.dropdown.open.academy {
        display: block;
        height: 170px;
    }
    .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}

    .navbar-default .navbar-nav .selectable-item:hover:before{
        width: 0px;
        height: 0px;
    }
    .wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-default .navbar-nav>li>a {
        margin: 20px 15px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-right {
        margin-bottom: 20px;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 0px;
        box-shadow: none;
        background-color: #4daa5f;
    }
    .navbar-fixed-top {
        top: 0;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-left: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-default .navbar-header>a>img {
        padding: 0px 10px;
    }
    .wrapper>.navbar-collapse, .wrapper>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .collapse.in{
      display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu>div>li>a {
        padding: 5px 15px 5px 25px;
        color: #FFFFFF;
        text-align: left;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu>div>li>a:hover {
        background-color: inherit;
        color: #2c6969;
    }
    .dropdown-menu.custom-menu form {
        text-align: left;
    }
}