@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
}
header {
    overflow: auto;
    border-bottom: 2px solid #1e4b6a;
}

header .image-container {
    text-align: center;
    padding: 20px;
}

header .content-container {
    padding: 20px;
}

header .content-container p{
    font-weight: 300;
    line-height: 200%;
    font-size: 17px;
}

main {
    overflow: auto;
    margin-bottom: 20px;
}

main .initiavite-container {
    margin: 20px 0px 0px 0px;
}

main .image-container {
    text-align: center;
    padding: 20px;
}

main .content-container {
    padding: 20px;
}

.academy-container {
    display: flex;
    align-items: flex-end;
}

header .academy-content-container {
    padding: 30px 20px 40px 20px;
}

main .content-container h2{
    font-weight: 300;
    font-size: 44px;
}

main .content-container p, .academy-content-container p{
    font-weight: 300;
    line-height: 200%;
    font-size: 17px;
}

.content-container button, .academy-content-container button {
    width: 270px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #1e4b6a;
    font-size: 20px;
    font-weight: 500px;
    text-transform: uppercase;
    color: #1e4b6a;
    margin: 20px 0px;
}

.content-container button:hover, .academy-content-container button:hover {
    background-color: #1e4b6a;
    color: #FFFFFF;
}

footer>.top-row-links {
    background-color: #51b765;
    padding: 35px 0px;
}

footer>.bottom-row-links {
    background-color: #1e4b6a;
}

.top-row-links .footer-links>ul {
    margin-bottom: 25px;
}

.bottom-row-links .footer-links {
    margin: 15px 0px;
}

.bottom-row-links .footer-links>ul {
    margin: 0px;
}

.footer-links>ul>li {
    text-decoration: none;
    list-style: none;
    padding: 3.5px 0px;
    color: #FFFFFF;
}

.bottom-row-links .social-media-icons.footer-links>ul>li {
    display: inline-block;
    margin: 0px 5px;
}

.bottom-row-links .social-media-icons.footer-links>ul>li>a {
    padding: 0px 0px;
}

.footer-links>ul>li>a {
    color: #FFFFFF;
}

.footer-links>ul>li>a:hover {
    color: #1e4b6a;
    text-decoration: none;
}

.bottom-row-links .footer-links>ul>li>a:hover {
    color: #51b765;
    text-decoration: none;
}

.footer-links>ul>li.header-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-links>ul>li.sub-link {
    font-size: 14px;
    font-weight: 300;
}

#facebook-icon:hover {
    content: url('../assets/facebook-icon-active.png');
}

#youtube-icon:hover {
    content: url('../assets/youtube-icon-active.png');
}

#twitter-icon:hover {
    content: url('../assets/twitter-icon-active.png');
}

#google-plus-icon:hover {
    content: url('../assets/google-plus-icon-active.png');
}

#rss-icon:hover {
    content: url('../assets/rss-icon-active.png');
}

#linkedin-icon:hover {
    content: url('../assets/linkedin-icon-active.png');
}

@media (max-width: 992px) {
  .initiavite-container, .academy-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

.content-container, .academy-image-container{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

.image-container, .academy-content-container {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

